@import 'normalize';

.estilo-invalido{
    background-color:#f08080
}
.mensagem-erro{
    font-size: 20px;
    padding: 10px;
    color: #ec817e;
}

.remove{
    opacity: 0;
    color: red; 
    font-weight: 800;
    transition: 0.5s;
}